<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Area | Edit Shops</title>
    <link rel="icon" href="/styles/imgs/header/real-madrid-logo.png" sizes="64x64">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/styles/css/setup/vars.css">
    <link rel="stylesheet" href="/styles/css/setup/general.css">
    <link rel="stylesheet" href="/styles/css/setup/font-face.css">
    <link rel="stylesheet" href="/styles/css/edit-about.css">
</head>

<body>
    <!-- Include header -->
    <%- include('header.ejs', {page:'edit-about'}) -%>

    <main class="edit-about">
        <form id="editAbout">
            <article class="edit-shops">
                <h3>Shops</h3>

                <!-- Button to add a new shop -->
                <button onclick="onAddShop(event.target)" type="button" class="add-btn">
                    <i class="bi bi-plus"></i>
                    Add shop
                </button>
                <!-- Button to save shop details -->
                <button onclick="onUpdateShops(event.target)" type="button" class="save-btn">
                    <i class="bi bi-download"></i>
                    Save shops
                </button>
                
                <!-- Check if coordinates data is available -->
                <%if(coords !=null){%>
                    <ul>
                        <!-- Iterate over the shops data and display each shop -->
                        <% for(let i=0; i< coords.data.length; i++) { %>
                            <li id="<%= i %>">
                                <!-- Input fields for shop details -->
                                <input value="<%= coords.data[i].name %>" name="shops">
                                <input value="<%= coords.data[i].address %>" name="shops">
                                <input value="<%= coords.data[i].lat %>" name="shops" type="number">
                                <input value="<%= coords.data[i].long %>" name="shops" type="number">
                                <!-- Button to delete the shop -->
                                <button type="button" onclick="onDeleteShop('<%=i%>')">
                                    <i class="bi bi-trash"></i> Remove 
                                </button>
                            </li>
                        <%}%>
                    </ul>
                <%}else{%>
                    <ul>
                        <!-- Default shop input fields if no coordinates are available -->
                        <li id="0">
                            <input value="" placeholder="Type location name" name="shops">
                            <input value="" placeholder="Type location address" name="shops">
                            <input value="" placeholder="Type location latitude" name="shops" type="number">
                            <input value="" placeholder="Type location longitude" name="shops" type="number">
                            <!-- Button to delete the default shop -->
                            <button type="button" onclick="onDeleteShop(0)">
                                <i class="bi bi-trash"></i> Remove 
                            </button>
                        </li>
                    </ul>
                <% } %>
            </article>
        </form>
    </main>

    <!-- Success alert message -->
    <div id="alert" class="alert alert-success" role="alert" style="display:none;">
        Shops updated successfully!
    </div>

    <!-- Include footer -->
    <%- include('footer.ejs') -%>
    
    <!-- Modal for notices -->
    <div class="modal fade" id="noticeModal" tabindex="-1" aria-labelledby="noticeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="noticeModalLabel">Notice</h5>
                </div>
                <div class="modal-body" id="noticeModalBody">
                    <!-- The message will be inserted here -->
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!-- Custom JavaScript file -->
    <script src="/js/edit-about.js"></script>
</body>
</html>
